body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(backgroundLogin.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.container{
    height: 250px;
    width: 250px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 50px;
}

img{
    width: 100%;
    box-shadow: 2px 2px 6px #f0ebeb;
    border-radius: 5px;
}

.container h1{
    color: #3E9A58;
    margin-top: 0;
    text-align: center;
    text-shadow: 1px 1px white;
}

fieldset{
    border-radius: 5px;
    margin: auto;
    height: 260px;
    width: 380px;
    text-align: center;
}

.check{
    background-color: #525050;
    display: flex;
    margin-top: 6px;
    text-align: left;
    width: 100%;
}

.check a{
    font-size: 12px;
    margin-left: 10px;
}

#lembrar{
    color: #3E9A58;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-shadow: none;
}

.labelLoginEmail, .labelLoginSenha{
    color: #3E9A58;
    font-weight: bold;
    font-size: 23px;
    text-shadow: 2px 1px 1px white;
}

.inputLoginEmail, .inputLoginSenha{
    margin-top: 30px;
    height: 32px;
    width: 280px;
    border-radius: 25px;
    border: none;
    opacity: 80%;
    padding-left: 10px;
}
 

#lembra{
    font-size: 16px;
    color: rgb(32, 189, 150);
}

.btn{
    text-align: right;
    padding: 10px;
    margin-top: 25px;
}

button{
    color: white;
    background-color: #0eeb49;
    border-radius: 5px;
    border: none;
    height: 36px;
    width: 120px;
}

button:hover{
    font-weight: bold;
    background-color: #0306D6;
}

a{
    margin-right: 41%;
    color: white;
    text-decoration: none;
}

a:hover{
    color: #0FEDE6;
    text-decoration: underline;
}

/*Estilos do popup do cadastro*/

/* Estilo para esconder o popup por padrão */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-conteudo {
    background-color: #2c2b2b;
    border: 1px solid #ccc;
    width: 60%;
    max-width: 400px;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.fechar-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
}

h2{
    text-align: center;
    font-weight: bold;
}

#fecharPopup:hover{
    color: white;
    background-color: red;
}

label{
    color: #ccc;
    font-weight: bold;
    font-size: 15px;
}

#popupNome, #popupEmail, #popupSenha{
    background-color: #525050;
    padding-left: 5px;
    margin-top: 10px;
    height: 32px;
    width: 210px;
    border: solid 1px black;
    border-radius: 5px;
}

.btn button{
    background-color: #0aff02;
    color: black;
    font-weight: bold;
}

#btnCad{
    text-align: center;
}
